<div class="middle-content mx-auto mt-5 p-5 card h-50 text-center shadow w-25">
  <%= image_tag('logo.svg', alt: 'Description', class: 'w-50 h-50 mx-auto ')%>
  <h5 class="card-title">Sign in</h5>
  <%= render 'signin_form' %>
</div>
