<h2 class="text-center mb-5">Udate user <%= @user.fullname %> profile</h2>
<div class="middle-content mx-auto  p-3 mb-5 card text-center shadow " style="height: 40rem; width: 30rem;">
  <%= render 'user_form' %>
</div>