<h2 class="text-center mb-5">Udate user <%= @user.fullname %> profile</h2>
<div class="middle-content mx-auto  p-3 mx-3 mx-md-auto card text-center shadow signup-form">
  <%= render 'user_form' %>
</div>