<div class="middle-content mx-3 px-2 mx-md-auto card text-center shadow signup-form">
  <%= image_tag('logo.svg', alt: 'Description', class: 'w-25 h-25 mx-auto ')%>
  <h1>Create an account</h1>
 <%= render 'user_form' %>
 <%= link_to 'Sign in', login_path, class: "btn my-bg-darker w-75 mx-auto mt-2 text-light "%>
</div>


