
<h3>Your Opinions for the movies</h3>

<div class="card mb-5">
    <div class="card-body">
        <%= form_for(@opinion, url: opinion_path) do |f| %>
          <p class="emoji-picker-container">
              <%= f.text_area :text, class: 'form-control', data: { emojiable: true } %>
          </p>
        <% end %>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title border-bottom pb-3">Opinions</h5>
        <%= render @opinions %>
    </div>
</div>