


<div class="card mb-5">
    <div class="card-body h5">
    <h3 class='text-muted'>Your Opinions for the movies</h3>
        <%= form_for(@opinion, url: opinion_path) do |f| %>
            <%= f.text_field :text, autofocus: true, class: "form-control", placeholder: "Enter your opinion" %>
        <% end %>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title border-bottom pb-3">Opinions</h5>
        <%= render @opinions %>
    </div>
</div>