<aside class="rigth-navbar  border border-top-0">
  <div>
    <h6 class="border-bottom p-3 text-muted">
        WHO TO FOLLOW
    </h6>
  </div>
  <% @not_following.each do |not_following| %>
  <div class="d-flex flex-row align-items-center m-auto p-3 shadow rounded">
    <div>
      <%= display_follow_btn(not_following, 'layouts/follow_icon') %>
    </div>
    <div >
      <%= display_photo_profile(not_following, :medium)  %>
    </div>
    <div>
      <h6>
        <strong>
          <%= link_to not_following.fullname, profile_path(not_following.username), class: "text-dark" %>
        </strong>
      </h6>
      <small class="text-muted">
        <%= display_follower_count(not_following) %>
      </small>
    </div>
  </div>
  <% end %>
  <div class="container p-3">
    <small class="text-muted">
        <a href="#">Popular accounts</a> |
        <a href="#">Find friends</a>
    </small>
  </div>
  <div class="d-flex flex-row align-items-center justify-content-between border-top border-bottom px-4 pt-1">
    <h6 class="text-muted  p-3 ">TRENDING</h6><ion-icon name="settings" class="text-muted p-3"></ion-icon>
  </div>
  <div class="p-3 px-5">
  
    <p><a href="#" class="text-muted"> #Football </a></p>
    <p><a href="#" class="text-muted"> #Sport </a></p>
    <p><a href="#" class="text-muted"> #ReggaetonPerreo </a></p>
    <p><a href="#" class="text-muted"> #Games </a></p>
    <p><a href="#" class="text-muted"> #100DaysOfCode </a></p>
  </div>
  </aside>