<%= render 'layouts/navbar' %>  
<div class="middle-content m-4 " style="overflow-x: hidden; overflow-y: auto; scrollbar-width: thin;">
  <%= yield %>
</div>
<%= render 'layouts/sidebar_left' %>
<%= render 'layouts/sidebar_rigth' %>