<%= render 'layouts/navbar' %>  
<div class="middle-content mx-4 pt-3" style="overflow-x: hidden; overflow-y: auto; scrollbar-width: none;">
  <%= yield %>
</div>
<%= render 'layouts/sidebar_left' %>
<%= render 'layouts/sidebar_rigth' %>