<aside class="left-navbar my-bg-darker container">
  <div class="aside-header row nav justify-content-end border-bottom border-dark p-3">
    <%= display_photo_profile(:medium) %>
    <%= link_to current_user.fullname, profile_path(current_user.username), 
    class: "col-6 text-secondary text-uppercase | mx-auto   my-auto |  p-2 | font-weight-bold ", 
    style: "min-width: 200px;" %>
  </div>
</aside>